.card {
    width: 150px;
    float: left;
    margin: 40px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    transform: scale(1.15);
    transition: .2s ease-in-out;
}